<section class="section">
    <div class="container has-text-centered">
        <div class="notification">
            <p class="subtitle ">No results found for this category.</p>
        </div>
    </div>
</section>